@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    font-family: "Noto Sans TC", sans-serif, system-ui !important;
    font-optical-sizing: auto;
    font-style: normal;
  }

  html img {
    user-select: none;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background: var(--material3-surface);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--material3-on-surface-variant);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--material3-on-surface);
  }
}

@layer utilities {
  .clip-rounded-tl-br {
    clip-path: inset(0px 0px 0px round 20px 0px);
  }

  .clip-rounded-tr-bl {
    clip-path: inset(0px 0px 0px round 0px 20px);
  }

  .clip-rounded {
    clip-path: inset(0px 0px 0px round 20px);
  }
}
