@tailwind utilities;

@layer utilities {
  .clip-rounded-tl-br {
    clip-path: inset(0px 0px 0px round 20px 0px);
  }

  .clip-rounded-tr-bl {
    clip-path: inset(0px 0px 0px round 0px 20px);
  }

  .clip-rounded {
    clip-path: inset(0px 0px 0px round 20px);
  }
}
